*{
   box-sizing:border-box ; 
}

body{
    font-family: "Roboto";
    font-size: 13px;
    color: black;
}

a{
display: inline-block;
text-decoration: none;
}

p{
    color:black;
}

header{
padding: 15px 0;
position: fixed;
top: 0;
left: 0;
z-index: 2;
background-color: white;
width: 100%;
}

header .container{
display: flex;
justify-content: space-between;
align-items: center;
}

header .container.logo{
width: 100px;
}

header .container nav a {
color: blue;
text-decoration: none;
margin: 0 15px;
}

header .container .hamb{
    display: none;
}

footer.seccion{
    background-color: black;
    color: white;
    padding-bottom: 0;
}

footer .barra-footer{
    background-color: blue;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer .logo-footer{
    width: 100%;
}
footer ul{
    padding-left: 0;
    list-style: none;
    margin: 0;
}

footer p{
    color: white;
    margin-bottom: 30px;
}
 
footer ul li{
    margin-bottom: 5px; 
    
}

footer .redes{
    font-size: 40px;
    display: flex;
   justify-content: space-between;
    
}
footer .redes a{
    margin: 0 7.5px;
}


footer  a{
    color: white;
    text-decoration: none;
}

.boton{
  text-align: center; 
  text-decoration: none; 
  padding: 15px 20px;
  border: none;
}

.boton.boton-rojo{
    color: white;
background-color: rgb(6, 184, 184);
font-size: 20px;
font-weight: bold;
}

.boton.boton-blanco{
    background-color: white;
    color: blue;
    font-size: 16px;
    font-weight: bold;
    bottom: 1px solid red;
}

.boton.boton-negro{
    color: white;
background-color: black;
font-size: 20px;
font-weight: bold;
}
.boton.boton-negro{
    color: white;
background-color: black;
font-size: 20px;
font-weight: bold;
}
.boton.boton-negro:hover{

    background-color:white;
    color: black;
}

.seccion{
padding-top: 60px; 
padding-bottom: 60px;

}

.cuadrado-perfecto{
    width: 100%;
padding-bottom: 100%;
position: relative;
}

.cuadrado-perfecto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;

}
.container{
width: 1140px;
margin: 0 auto 0 auto;
padding-right: 15px;
padding-left: 15px;
position: relative;
}

.container-fluid{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    }

.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.columna{
    padding-right: 15px;
    padding-left: 15px;
}



.columna-33{
   width: 33.33%; 
}

.columna-41{
    width: 41.66%;
    }

.columna-50{
width: 50%;
}

.empujar-50{
margin-left: 50%;
}

.empujar-58{
    margin-left: 58.33%;
    }

.empujar-66{
     margin-left: 66.66%;
     }
.empujar-0{
    margin-left: 5%;
    }
    
#inicio{
position: relative;

}

#inicio img{
width: 100%;
display: block;
}
#inicio .bloque-inicio{
position: absolute;
top: 40%;
left: 40%;
width: 300px;
text-align: center;
margin-left: -200px;
}
#inicio .bloque-inicio h1{
color: white;
font-size: 100px;
padding-left: 15%;
padding-right: 15%;
}
#inicio .bloque-inicio h2{
    color: white;
    font-size: 50px;
    padding-left: 30%;
    padding-right: 30%;
    
    }

#inicio .bloque-inicio p{
    color: black;
    font-size: 20px;
    }
#nosotros{
    background-image: url(img/compuss.webp);
    background-size: cover;
  }

#nosotros p{
    color: white;
    text-align: center;
    font-size: 16px;
    /*margin: 0;*/
}

#servicios .bloque-servicio{
border: 1px solid grey;
}
#servicios .bloque-servicio .bloque-img-servicio{
    width: 100%;

}

#servicios .bloque-servicio .bloque-img-servicio.cuadrado-perfecto{
   padding-bottom: 36.25%; 
}
#servicios .bloque-servicio .bloque-contenido-servicio{
    padding: 15px;
}
 #servicios .bloque-servicio .bloque-img-servicio img{
width: 100%;
 }
 #servicios .bloque-servicio .bloque-contenido-servicio h3{
   margin-top: 0;
   font-size: 25px;
     }



#galeria h4{
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
    position: absolute;
    top: 40%;
    color: white;
    font-size: 200%;
    width: 100%;
}

#galeria img{
filter: grayscale(1);
}

#galeria .cuadrado-perfecto:hover img{
filter: grayscale(0);
}
#galeria .cuadrado-perfecto:hover h4{
  display: none;
    }

#contactos{
    position: relative;
}

#contactos iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#contactos form{
padding: 60px;
background-color: rgb(15, 15, 167);
}

#contactos form .form-block{
width: 100%;
margin-bottom: 15px;
}

#contactos form .form-block .form-control{
display: block;
height: 40px;
font-size: 16px;
border: 1px solid grey;
width: 100%;
padding: 5px 10px;
}

#contactos form .form-block textarea{
    display: block;
    height: 100px;
    font-size: 16px;
    border: 1px solid grey;
    width: 100%;
    padding: 5px 10px;
    }

    #contactos form .form-block.bloque-ultimo{
    margin-bottom: 0;  
 }

 @media(max-width: 767px){
body{
    font-size: 15px;
}


header .container nav{

    position: fixed;
    width: 100%;
    height: 100%;
    background-color:white;
    padding-top: 80%;
    padding-bottom: 80%;
    padding-right: 15px;
    padding-left: 15px;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    transition: all 0.4s ease;
transform: translateX(100%);
}
header .container nav a{
    font-size: 30px;
    margin: 15px 0;
}
header .container .hamb{
    display: block;
    font-size: 40px;
    color: blue;
    }

form .boton.boton-negro{
        width: 100%;
    }

    footer{
        text-align: center;
    }
    footer .logo-footer{
       width: 50%;
    }

    footer .redes{
        justify-content: center;
    }
    
.container{
        width: 100%;
    }
.columna-mobile-100{
  width: 100%;  
}
.columna-mobile-50{
    width: 50%;  
  }
  
#inicio{
    height: 70vh;
}   
#inicio img{
    height: 70vh;  
}  
#inicio .bloque-inicio{
    top: 20%;
}
#contactos {
    padding: 0
     }
 
#servicios .bloque-servicio{
    margin-bottom: 15px;
}
#contactos iframe{
    position: relative;
    height: 50vh;
    }
.empujar-mobile-0{
        margin-left: 0;
    }
.sinpadding-mobile{
        padding: 0;
    }
    
 }